/***********************
00_RESET
************************/
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans Japanese';
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

main {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  color: #1D568F;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: #1D568F;
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

/***********************
01_COMMON
************************/
p {
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.87);
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 60px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  line-height: 60px;
  font-size: 16px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button-primary {
  background-color: #004D40;
  color: #FFFFFF;
}

.button-primary:hover {
  opacity: 0.73;
  color: #FFFFFF;
}

/***********************
02_CONTENT
************************/
.main {
  padding: 36px;
}

.main h1 {
  margin-bottom: 16px;
}

.space {
  height: 1000px;
}

/***********************
03_MODAL
************************/
.jsc-modal-content {
  z-index: 2;
  display: none;
  color: #000000;
  background-color: #FFFFFF;
  position: fixed;
  height: 560px;
  width: 450px;
  top: calc(50% - 560px / 2);
  left: calc(50% - 450px / 2);
  padding: 36px;
}

.jsc-modal-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.75);
}

.button-modal {
  width: 300px !important;
  margin: 20px auto;
}

.modal-close {
  margin-top: 16px;
}
